.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.footer__container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  @include mq(mobile-only) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__adress-container {
  /*     width: 231px;
  margin-right: 70px; */
  @include mq(not-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address {
  font-style: normal;
}

.footer-subscribe-container {
  @include mq(not-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq(desktop) {
    margin-left: 70px;
  }
}

.footer-subscribe-caption {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  @include mq(not-desktop) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-txt-cl);
  background-color: var(--dark-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: border-color var(--transition-timing) var(--transition-function);

  &:focus,
  &:hover {
    outline: 0;
    border-color: var(--secondary-txt-cl);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @include mq(not-desktop) {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 450px;
  }
}
