.portfolio {
  background-color: var(--main-bg-cl);
}

.portfolio .navigation-portfolio-list {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include mq(mobile-only) {
    justify-content: flex-start;
  }
}

.nav-btn:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.navigation-btn {
  padding: 6px 22px;
  border: none;
  border-width: 0;
  border-radius: 4px;
  background-color: var(--gris-bg-cl);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  cursor: pointer;
  transition: color var(--transition-timing) var(--transition-function),
    background-color var(--transition-timing) var(--transition-function),
    box-shadow var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    background-color: var(--accent-bg-cl);
    color: var(--secondary-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @include mq(mobile-only) {
    width: 100%;
    margin-right: 0px;
  }

  @include mq(tablet-only) {
    margin-right: 0px;
    width: 354px;
  }
}

.projects-item-link {
  width: 100%;
}

.projects-item:nth-child(3n) {
  margin-right: 0px;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-group {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  height: 146px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gris-txt-cl);
}

.card-link {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  transition: box-shadow var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-overlay-blue {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-txt-cl);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-timing) var(--transition-function);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}
