//fonts
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  //text colors
  --accent-cl: #2196f3;
  --main-txt-cl: #212121;
  --secondary-txt-cl: #ffffff;
  --gris-txt-cl: #757575;
  --icon-first-color: #afb1b8;

  //background colors
  --accent-bg-cl: #2196f3;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #e5e5e5;
  --gris-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --blue-bg-cl: #188ce8;

  // transition
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

//text colors
$accent-cl: #2196f3;
$main-txt-cl: #212121;
$secondary-txt-cl: #ffffff;
$gris-txt-cl: #757575;
$icon-first-color: #afb1b8;

//background colors
$accent-bg-cl: #2196f3;
$main-bg-cl: #ffffff;
$secondary-bg-cl: #e5e5e5;
$gris-bg-cl: #f5f4fa;
$dark-bg-cl: #2f303a;
$blue-bg-cl: #188ce8;

// transition
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);