.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.close-button-icon {
  fill: currentColor;
}
