.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-timing) var(--transition-function),
    visibility var(--transition-timing) var(--transition-function);
    overflow-y: scroll;
}

.modal-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-timing) var(--transition-function),
    opacity var(--transition-timing) var(--transition-function);
}

.modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-txt-cl);
}
