.about {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.about-list {
  @extend %list;
  display: flex;
}

.about-list__item {
  position: relative;
  width: calc((100%-6 * 15px) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-list__item-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
}
