.about-list {
  display: flex;
}

.about-list__item {
  position: relative;
  width: 370px;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__item-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
}
