.about {
  display: none;
  padding-top: 0px;
  
  @include mq(desktop) {
    display: block;
  }
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
