body {
  display: flex;
  flex-direction: column;

  padding-top: 60px;
  min-height: 100vh;

  background-color: $main-bg-cl;
   color:$gris-txt-cl;
   font-family: $main-font;
 font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  overflow-y: scroll;

  &.modal-is-open {
    overflow: hidden;
  }

  &.mobile-menu-is-open {
    overflow: initial;
    @media screen and (max-width: 767px) {
     overflow: hidden;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}   