.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mailto {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gris-txt-cl);
  transition: color var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__phone {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gris-txt-cl);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
