.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    display: block;
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 500;


  @include mq(tablet-only) {
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include mq(desktop) {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    &:last-child {
      margin-left: 50px;
    }
  }
}

.contacts__mailto {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--gris-txt-cl);
  transition: color var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--gris-txt-cl);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
