.navigation {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation-list {
  color: var(--main-txt-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  life-style: none;
  text-align: start;

  @media screen and (max-width: $mobile) {
    display: block;

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02px)) {
      display: flex;
      align-items: center;
      margin-right: 84px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      margin-right: 305px;
    }
  }
}

.navigation-list__item {
  position: relative;
  font-weight: 500;

  @media screen and (max-width: $mobile) {
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
  }
}

.navigation-list__link {
  display: block;

  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-cl);
    &--current {
      color: var(--accent-cl);
    }

    @media screen and (min-width: $tablet) {
      &--current::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;

        height: 4px;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        background-color: var(--accent-cl);
      }
    }

    @media screen and (min-width: $desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

/*
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

/*
.navigation-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  transition: color var(--transition-timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
*/

/*
.navigation-list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
}
*/

/*
.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}
*/
