.mobile-menu-is-open .header {
  border-bottom: 0px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header__container {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  color: rgb(57, 140, 159);
}
