.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
}

.header-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header-logo__caption {
  color: #000000;
}
